@model FPTBook.Models.Bill
<form asp-controller="Customer" asp-action="CheckOut" method="post">
    Book: @ViewBag.Title
    Price: @ViewBag.Price
    <input name="price" value="@ViewBag.Price" type="hidden"/>
    Quantity: <input asp-for="@Model.Quantity" min="1" max="@ViewBag.Quantity"/>
     <input asp-for="@Model.CustomerEmail" value="@User.Identity.Name" type="hidden"/>
     <input asp-for="@Model.BookId" value="@ViewBag.Id" type="hidden"/>
     <input type="submit" value="Checkout"/>
</form>