@model List<Book>

<main class="cd__main">
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            @foreach (var book in Model)
            {
                <div class="col hp">

                    <div class="card shadow-sm">
                        <a href="#">
                            <img src="@book.Image" class="card-img-top" alt="@book.Title" />
                        </a>
                        <div class="label-top shadow-sm bg-danger">
                            <a class="text-white" href="#">New</a>
                        </div>
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-success">$@book.Price</span>

                                <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
                            </div>
                            <h5 class="card-title">
                                <a target="_blank" href="#">Title: @book.Title</a>
                                <br>
                                <span>Author: @book.Author</span>
                            </h5>

                            <div class="d-grid gap-2 my-4">

                                <form asp-controller="Cart" asp-action="AddToCart">
                                    <input type="hidden" name="Id" value="@book.Id">
                                    <input type="submit" value="Add to cart" class="btn btn-warning bold-btn">
                                </form>
                            </div>
                            <div class="clearfix mb-1">

                                <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

                                <span class="float-end">
                                    <i class="far fa-heart" style="cursor: pointer"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>